<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelSuite" parallel="classes" thread-count="2">
    <test name="ParallelTests">
        <classes>
            <class name="test.ProductOperationsChrome"/>
            <class name="test.ProductOperationsFirefox"/>
        </classes>
    </test>
</suite>